.product {display: block; cursor: pointer;}
.basket_products-list {
    background: rgb(255, 153, 196); 
    min-height: 5px;
} 
.buy-modal{ position: absolute;
display: block;
width: 200px;
height: 100px;
left: 100px;
right: 0;
top: 20px;
}

.basket_product{
    background: rgb(175, 10, 82);   
}
.buy-modal_hide {
    display: none;
}